@model GetByIdProductResponse
@{
    ViewData["Title"] = Model.Title;
}



<h1>@ViewData["Title"]</h1>
<h3>@Model.Title</h3>
<h3>@Model.Description</h3>
<h3>@Model.Detail</h3>
<h3>@Model.Amount</h3>
<h3>@Model.Price</h3>


