@model GetByIdProductResponse
@{
    ViewData["Title"] = Model.Title;
}


<div card>

    <div class="card-header">
        <h2 class="card-title">@Model.Title</h2>
        <img class="card-img-top" src="/img/pexels-math-90946.jpg" /> <!--Absolute yetiyor-->
    </div>
    <div class="card-body">
        <h3>Description</h3>

        <p>
            @Model.Description
        </p>
        <hr />
        <h3>Detail</h3>
        <p>
            @Model.Detail
        </p>
        <hr />

        <h3>Amount</h3>
        <p >@Model.Amount</p>
        <h3>Price</h3>     
        <p >@Model.Price</p>

    </div>
</div>