@{
    ViewData["Title"] = "Home Page";
}
@model GetProductResponse

<div class="container">
    <div class="row">


        @foreach (var item in Model.ProductDtos)
        {
            <div class="col-6">
                <div class="card">

                    <h2 class="card-title">@item.Title</h2>
                    <img class="card-img-top" src="/img/pexels-math-90946.jpg" />
                    <div class="card-body">
                        <p>
                            @item.Description
                        </p>
                        <a class="btn btn-primary" asp-action="Detail" asp-route-Id="@item.Id">Detail</a>
                    </div>
                </div>
            </div>
        }
    <div class="m-1">
        @if (Model.PageCount > 1)
        {
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <a href="/Home/Index/@i" type="button" class="btn btn-primary @( i == Model.CurrentPage ? "active" : "")">@i</a>
            }

        }
    </div>

    </div>
</div>
