@{
    ViewData["Title"] = "Sipariş Sayfası";
}
@model GetByCustomerIdOrderResponse


<h1>@Model.Name</h1>
<h1>@Model.SurName</h1>
<h1>@Model.PhoneNumber</h1>
<h1>@Model.CustomerId</h1>
<h1>@Model.Total</h1>